body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: gray;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 4px;
    width: 30px;
    background-color: #fbfafa;
    margin-bottom: 5px;
}

/*Menu responsivo para dispositivos moveis*/

@media screen and (max-width: 600px){
    nav ul.menu-list {
        display: none;
    }

    .menu-icon {
        display: flex;
    }
        /*estilo menu expansivel*/

        .menu-expanded {
            display: flex;
        }

}